*{
    box-sizing: border-box;
}

body{
    font-family:'Hind', sans-serif;
    margin: 0;
    background: #e1e1e1;
}

main{
    padding: 0 20px;
    display: table;
}

header{
    text-align: center;
    background: #317A86;
    padding: 10px;
}

header h1{
    font-size: 25px;
    color: rgb(253, 251, 243);
}

nav ul{
    list-style: none;
    background: #78c0a9;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 16px;
    display: block;
}

nav li{
    float:left;
}

nav a:hover{
    background: #fff;
    color: #317A86;
}

section{

    float:left;
    width: 100%;
    padding: 20px;
}

article{
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
}


   

#borda{
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
}

.container {
    display: flex;
    align-items: center;
}

footer{
    background: rgb(0, 100, 95);
    padding: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button{
  size: 20px;
  background-color: #06ffde;
  box-shadow: #094c66 4px 4px 0px;
  border-radius:8px;
  transition: transform(200ms), box-shadow 200ms;
}

button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
  }

@media screen and (max-width:768px){
    section, aside{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:320px){
    nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
}